@import "tailwindcss";

@keyframes win7Loader {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(1300%);
      opacity: 0;
    }
  }
  
@keyframes logoGlow {
    0% {
      filter: drop-shadow(0 0 0px rgba(0, 150, 255, 0.0));
      opacity: 0.9;
    }
    50% {
      filter: drop-shadow(0 0 18px rgba(211, 214, 216, 0.8));
      opacity: 1;
    }
    100% {
      filter: drop-shadow(0 0 0px rgba(0, 150, 255, 0.0));
      opacity: 0.9;
    }
  }
  

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.8s ease forwards;
  }
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}